{{#link-to 'colors.new' class="button pull-right" }}Add a Color{{/link-to}}
<br>
{{#each model as |color|}}
  {{#link-to 'colors.edit' color}}
    <div class="color" style="background-color:{{color.hexcode}}"></div>
  {{/link-to}}
{{/each}}
